{% extends 'base.html.twig' %}

{% block title %}Maturelly | conversations {% endblock %}

{% block body %}
    <div class="flex flex-col justify-start items-center mt-24 w-full">
        <h3 class="text-2xl underline">Conversations</h3>

        {% if chats is empty %}
            <p>Aucune conversation trouvée.</p>
        {% else %}
            <ul class="space-y-4">
                {% for chat in chats %}
                    <li class="w-full border p-4 rounded-lg shadow-sm hover:shadow-md transition-all">
                        <a href="{{ path('app_chat_show', {'id': chat.id}) }}" class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                {% set profilePicture = "" %}
                                {# premier if pour savoir si user1 ou user2 est l'utilisateur connecté, deuxième if pour savoir si l'autre utilisateur à un profil. Si oui on récup son image de profil, sinon on affiche celle par défaut #}
                                {% if chat.user1.id == app.user.id %}
                                    {% if chat.user2.profile %}
                                        {% set profilePicture = chat.user2.profile.profilePicture %}
                                    {% endif %}
                                {% else %}
                                    {% if chat.user1.profile %}
                                        {% set profilePicture = chat.user1.profile.profilePicture %}
                                    {% endif %}
                                {% endif %}

                                {% if profilePicture != "" %}
                                    <img src="{{ asset('uploads/profile_images/' ~ profilePicture) }}" alt="Avatar" class="rounded-full w-10 h-10">
                                {% else %}
                                    <img src="{{ asset('assets/img/profile-default.webp') }}" alt="Avatar" class="rounded-full w-10 h-10">
                                {% endif %}
                            </div>

                            <div class="flex-1">
                                <div class="text-lg font-semibold">
                                    {% if chat.user1.id == app.user.id %}
                                        {{ chat.user2.email }}
                                    {% else %}
                                        {{ chat.user1.email }}
                                    {% endif %}
                                </div>
                                <div class="text-sm text-gray-500">
{#                                    {{ chat.lastMessage ? chat.lastMessage|date('d/m/Y H:i') : 'Aucun message' }}#}
                                </div>
                            </div>

                            <div class="flex-shrink-0 text-sm text-blue-500">
                                <i class="fas fa-comment-dots"></i>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
